body {
  width: 60%;
  margin: 0 auto;
}
.parent {
  border: 2px solid rgb(138, 138, 138);
  text-align: center;
  padding: 10px;
  width: 300px;
  position: relative;
  /* overflow: auto; */
}

i {
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
}
#border {
  border: 1px solid red;
}
/* .more {
}
.less {
  border: 1px solid black;
  padding: 10px;
  width: 150px;
  height: 150px;
  overflow: auto;
} */
